{{#extends "base"}}

{{#block "content"}}
    <div class="seller-wrapper">
        <div class="page-header">Blacklisted List</div>
        <table class="table">
            <thead>
                <th>
                    Seller ID
                </th>
                <th>
                    Username
                </th>
                <th>
                    Reason
                </th>
                <th>
                    Blacklisted Date
                </th>
                <th>

                </th>
            </thead>

            <tbody>
                {{#each blacklistedSellers}}
                <tr>
                    <td>
                        {{this.seller_id}}
                    </td>
                    <td>
                        {{this.sellers.username}}
                    </td>
                    <td>
                        {{this.reason}}
                    </td>
                    <td>
                        {{formatDate this.created_at}}
                    </td>
                    <td>
                        <div class="button-full button-danger"
                                data-id="{{this.id}}" 
                                data-name="{{this.sellers.username}}"
                                data-seller-id="{{this.seller_id}}">Remove</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

         {{> warningPopupTemplate}}
    </div>
{{/block}}

{{#block "js"}}
    {{> warningPopupScript}}
{{/block}}

{{/extends}}