{{#extends "base"}}

{{#block "content"}}
    <div class="product-wrapper">
        <div class="page-header">Products List</div>
        <table class="table">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Product
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Availability
                </th>
                <th>
                    Category
                </th>
                <th>

                </th>
            </thead>

            <tbody>
                {{#each products}}
                <tr>
                    <td>
                        {{this.id}}
                    </td>
                    <td>
                        <div>
                            <div  class="product-name">{{this.name}}</div>
                            <div><img src="{{this.image}}" alt="{{this.name}}" class="image-wrapper"></div>
                        </div>
                    </td>
                    <td>
                        {{formatCost this.cost}}
                    </td>
                    <td>
                        {{this.stocks_on_hand}}
                    </td>
                    <td>
                        {{this.category.category}}
                    </td>
                    <td>
                        <div class="button-full button-danger" 
                                data-id="{{this.id}}" 
                                data-name="{{this.name}}">Delete</div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="pagination-wrapper">
            {{#each (range pagination.pageCount)}}
                <div class="page"><a href="/products?page={{this}}" class="page">{{this}}</a></div>
            {{/each}}
        </div>

        {{> warningPopupTemplate}}
    </div>
{{/block}}

{{#block "js"}}
    {{> warningPopupScript}}
{{/block}}

{{/extends}}